[Desktop Entry]
Version=1.0
Type=Application
Name=Neptus
Exec=/opt/install/neptus/neptus
Icon=applications-electronics
Terminal=false
StartupNotify=false
